/* src/index.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}
p, h1, h2, h3, h4, h5, h6, div, span {
  text-align: justify;
}
